<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emfile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmFile">
        <activity android:name=".hospital.HospitalRegister"></activity>
        <activity android:name=".hospital.HospitalLogin" />
        <activity android:name=".hospital.HospitalHome" />
        <activity android:name=".patient.VaccinationDate" />
        <activity android:name=".patient.BookDoctorAppointment" />
        <activity android:name=".patient.EditMedicalReport" />
        <activity android:name=".patient.MedicalReport" />
        <activity android:name=".patient.PatientHome" />
        <activity android:name=".patient.HealthInformation" />
        <activity android:name=".patient.PatientRegister" />
        <activity android:name=".patient.PatientLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>